#slider {
  width: 800px;
  padding-top: 600px;
  margin: 20px auto;
  border: 3px silver double;
  position: relative;
  overflow: hidden;
}

#slider > img {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-800px);
}

#slider > img {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-800px);
  opacity: 0;
  transition: all 0.5s linear;
}

#slider input:checked ~ img {
  transform: translateX(800px);
}

#slider input:checked + img {
  transform: translateX(0px);
  opacity: 1;
}
